<!-- templates/home.html -->

{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="container mt-3" style="background: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <table class="risk-table">
      <h2 class="text-center mb-4">Welcome to Prudence</h2>
      <p>Prudence is a web-based Governance, Risk, and Compliance (GRC) platform designed to assist organizations in identifying, assessing, and mitigating risks. This system leverages Django as its backend framework and JavaScript for dynamic front-end interactions, ensuring a responsive and intuitive user experience. Prudence provides comprehensive tools for managing risks and controls, evaluating inherent and residual risks, monitoring control effectiveness, and ensuring compliance with ISO 31000 standards.</p>
    </table>
  </div>
{% endblock %}
