/* Basic reset */
body, h1, p, form, input {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background-color: transparent; /* Ensure canvas background is transparent */
    z-index: 2; /* Ensures canvas is above any background layers */
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 1200px;
    margin: 20px auto;
}

.role-warning {
    color: #cc0000;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #0073b1; /* LinkedIn blue */
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border-radius: 20px;
}

input[type="submit"]:hover {
    background-color: #005582; /* A darker shade of LinkedIn blue */
}

p {
    font-size: 12px;
    color: #666;
    text-align: center;
}

.error {
    color: red;
    font-size: 12px;
}

.navbar {
    list-style-type: none;
    margin: 0 auto; /* Center the navbar on the page horizontally */
    padding: 0;
    overflow: hidden;
    background-color: #283e4a; /* Dark gray similar to LinkedIn's top bar */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #0073b1; /* Accent border */
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar li a:hover {
    background-color: #111;
}

/* Enhancements for mobile viewing */
@media (max-width: 768px) {
    .navbar, .risk-table, .control-table, .container {
        width: 100%;
        box-shadow: none;
        border-radius: 0;
    }
}

#message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75); /* Black background with opacity */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.button, input[type="submit"] {
    background-color: #0073b1; /* LinkedIn blue */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    transition: background 0.3s ease;
}

.button:hover, input[type="submit"]:hover {
    background-color: #005582; /* Darker shade of LinkedIn blue */
}

.save-button, input[type="submit"] {
    background-color: #0073b1; /* LinkedIn blue */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    transition: background 0.3s ease;
}

.save-button:hover, input[type="submit"]:hover {
    background-color: #005582; /* Darker shade of LinkedIn blue */
}

.delete-button, input[type="submit"] {
    background-color: #ff0000; /* Red */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px; /* Rounded corners */
    transition: background 0.3s ease;
}

.delete-button:hover, input[type="submit"]:hover {
    background-color: #cc0000; /* Darker shade of red */
}

.risk-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;  /* Adjust the vertical spacing between rows */
}

.risk-table th, .risk-table td {
    background: white;
    padding: 10px;
    border: 0px solid #ddd;  /* Optional: add if you need borders around cells */
}

.risk-table th {
    background-color: #f2f2f2;  /* Light gray background for header */
    text-align: left;
}

.risk-table tr {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);  /* Subtle shadow for each row */
}


.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}