<!-- templates/add_risk.html -->
{% extends 'base.html' %}

{% block title %}
  Add Risk
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Add Risk</h1>
    {% if user.role == 'L1' %}
      <h2 class="role-warning">You need an L2 user to approve your risk add operation.</h2>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {% if user.role != 'L3' %}
        <div>
            <label for="description">Description:</label>
            <br>
            {{ form.description }}
        </div>
        <div>
            <label for="inherent-probability">Inherent Probability:</label>
            {{ form.inherent_probability }}
        </div>
        <div>
            <label for="inherent-impact">Inherent Impact:</label>
            {{ form.inherent_impact }}
        </div>
        <div>
            <label for="controls">Controls:</label>
            {{ form.controls }}
        </div>
        <div>
            <label for="residual-probability">Residual Proabability:</label>
            {{ form.residual_probability }}
        </div>
        <div>
            <label for="residual-impact">Residual Impact</label>
            {{ form.residual_impact }}
        </div>
        <div>
            <label for="risk-owner">Risk Owner:</label>
            {{ form.risk_owner }}
        </div>
        {% if user.role == 'L1' %}
            <div>
                <label for="assigned-to">Assessor:</label>
                {{ form.assessor }}
            </div>
        {% endif %}
        <button type="submit" class="button">Add Risk</button>
      {% else %}
        <h2 class="role-warning">You are not allowed to add risks.</h2>
      {% endif %}
    </form>
  </div>
{% endblock %}
