{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Create Your Account</h2>
    <form method="post" class="register-form">
        {% csrf_token %}
        <div>
            <label for="register_username">Username:</label>
            {{ form.username }}
        </div>
        <div>
            <label for="register_first_name">First name:</label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="register_last_name">Last name:</label>
            {{ form.last_name }}
        </div>
        <div>
            <label for="register_email">Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label for="register_role">Role:</label>
            {{ form.role }}
        </div>
        <div>
            <label for="register_password1">Password:</label>
            {{ form.password1 }}
        </div>
        <div>
            <label for="register_password2">Confirm Password:</label>
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn-register">Register</button>
    </form>
</div>
{% endblock %}
